@import "tailwindcss";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hide{
    display: none;
}

.btn{
    border-radius: 7px;
    padding: 3px;
}